
 <header class="header">
    <div  class="mob-nav .d-block .d-sm-none">
        <span  (click)="openNav()">&#9776;</span>
    </div>
    <div *ngIf="toggle" class="overlay d-md-block">
        <a href="javascript:void(0)" class="closebtn" (click)="toggle = !toggle">&times;</a>
        <div class="overlay-content">
            <a  (click)="navigateMob('home')">Home<fa-icon class="icon" [icon]="faHome"></fa-icon></a>
            <a (click)="navigateMob('about')" >About<fa-icon class="icon" [icon]="faUSer"></fa-icon></a>
            <a href="mailto:mishragautam1994@gmail.com"> Contact<fa-icon class="icon" [icon]="faEnvolope"></fa-icon></a>
            <a (click)="navigateMob('project')" >Project<fa-icon class="icon" [icon]="faEnvolope"></fa-icon></a>
        </div>
      </div>


    <div class="d-xs-block">
    <ul (click)="navigate($event)" class="icon-menu d-none d-lg-block">
        <li class="icon-box active">
            Home<fa-icon class="icon" [icon]="faHome"></fa-icon>
        </li>
        <li class="icon-box">
            About<fa-icon class="icon" [icon]="faUSer"></fa-icon>
        </li>
        <li class="icon-box">
           <a href="mailto:mishragautam1994@gmail.com"> Contact<fa-icon class="icon" [icon]="faEnvolope"></fa-icon></a>
        </li>
        <li class="icon-box">
            Project<fa-icon class="icon" [icon]="faEnvolope"></fa-icon>
        </li>
    </ul>
    </div>
</header>
