
.container1{
    background-color: black;
    height: 100vh;
    .info-container{
        font-family: 'Open Sans';
        text-transform: uppercase;
        .text{
          position: relative;
          top: 30%;
          color: white;
          transform-origin: left;
          .main-text{           
            position: relative;        
            span {
            position: absolute;
            .var-text{
                margin-left: 10px;
                height: 44px;
                color: #ffb400;
            }
        }
    }
  }
}


    .img-container-md{

        .image{
          position: relative;
            width: 400x;
            height: 400px;
            top: 20%;   
            animation:loadImage .5s linear;
        }
        // animation: MotionScale 2s alternate linear infinite;
    }

}

.img-container-sm{
  position: relative;
  .image{
    position: absolute;
    top: 200px;
    left: 10px;
    width: 100px;
    height: 186px;
    animation: MotionScale-1 4s alternate linear infinite;
}

}

.img-absolute{
  position: absolute;
  top: 0;
  .image{
    position: absolute;
    animation: MotionScale-1 4s alternate linear infinite;
}
}

.external-link{
  color:#ffb400;
}



.var-text {
    margin-left: 10px;
    color: #ffb400;
}

header{

  display: flex;
    flex-direction: column;
    align-self: center;
}

@keyframes loadImage {
    from {
       transform: scale(.9);
    }
    to {
        transform: scale(1);
    }
}

@keyframes MotionScale {
    from {
      transform: matrix3d(
        1,0,0,0,
        0,1,0,0,
        0,0,1,0,
        0,0,0,1
      );
      
    }
    to {
       transform: matrix3d(
        1,0,0,0,
        0,1,0,0,
        0,0,1,0,
        0,20,0,1
      )
    }
  }

  @keyframes MotionScale-1 {
    from {
      transform: matrix3d(
        1,0,0,0,
        0,1,0,0,
        0,0,1,0,
        4.3,6.8,0,1
      );
      
    }
    20% {
       transform: matrix3d(
        1,0,0,0,
        0,1,0,0,
        0,0,1,0,
        2.12,4.233,0,1
      )
    }
    40% {
        transform: matrix3d(
         1,0,0,0,
         0,1,0,0,
         0,0,1,0,
         -2,1.34,0,1
       )
     }
     60% {
        transform: matrix3d(
         1,0,0,0,
         0,1,0,0,
         0,0,1,0,
         -3,-1.367,0,1
       )
     }
     80% {
        transform: matrix3d(
         1,0,0,0,
         0,1,0,0,
         0,0,1,0,
         -4,-1,0,1
       )
     }

    to {
        transform: matrix3d(
            1,0,0,0,
            0,1,0,0,
            0,0,1,0,
            -5,-3,0,1
          )
    }
  }
  

  @keyframes center-animate {
    0% { transform: scaleX(10) }
    100% { transform: scaleX(0) }
}


@media (max-width: 769px){
  h1 {
    font-size: 20px;
    font-weight: 600;
  }

  .img-container-sm{
    display: none;
  }

  .img-container-md{
    display: none;
  }

  .main-heading{
    margin-top: 20%;
  }
  .text{
    padding: 10px;
    margin-top: 2% !important;
  }
  .hid-xs{
    display: none;
  }

}

.img-container-xs{
  .responsive{
    position: absolute;
    margin-top: 10%;
    max-width: 50%;
    left: 20%;
    height: auto;
    border-radius: 100px;
  }

}

@media(min-width: 769px){
  .img-container-xs{
    display: none;
  }
}