
<div class="container1 row">
    <div class="hid-xs">
    <div class="img-absolute">
        <img width="459" height="653" class="image" src="./assets/layer20.png">
    </div>
    <div class="img-absolute"  style="left:40%">
        <img width="151" height="180" class="image" src="./assets/layer19.png">
    </div>
    <div class="img-absolute"  style="left:30%">
        <img width="151" height="180" class="image" src="./assets/layer18.png">
    </div>
    <div class="img-absolute">
        <img class="image" src="./assets/layer14.png">
    </div>
    <div class="img-absolute" style="right:300px">
        <img class="image" width="300" height="290" src="./assets/layer14.png">
    </div>
    <div class="img-absolute" style="right:800px">
        <img class="image" width="500" height="500" src="./assets/layer15.png">
    </div>
    <div class="img-absolute" style="right:800px ; top: 60%;">
        <img class="image" width="300" height="300" src="./assets/layer16.png">
    </div>
    <div class="img-absolute" style="right:500px ; top: 60%;">
        <img class="image" width="500" height="100" src="./assets/layer15.png">
    </div>
    </div>
    <div class="info-container col-12 col-md-6 offset-md-1">

        <div class="img-container-xs col-12 .d-block .d-sm-none">
            <img class="responsive"  src="./assets/profile.png">
        </div> 

        <div class="text">
        <h2 class="main-heading"> Hi There !</h2>

        <h1 class="main-text">
            <ngx-typed-js [strings]="['Gautam Mishra', 'Full Stack Developer', 'FreeLancer']" [shuffle]="false" [typeSpeed]="70" [showCursor]="false" [loop]="true">
                I'M  <span class="typing var-text"></span>
              </ngx-typed-js>
        </h1>
        <p>
            I'm a FUll Stack Developer  Developer based in Noida, India.
            I strives to use new technologies and make scalable application  through carefully crafted code and user-centric design.
        </p>
        <div class="pl-2 row ">
            <button class="btn btn-danger"(click)="navigate()">VIEW PROJECTS</button>
        </div>
    </div>
 
        <div class="img-container-sm .d-none .d-sm-block">
            <img class="image" src="./assets/layer6.png">
        </div>

    </div>
    
    <div class="img-container-md col-12 col-md-4 .d-none .d-sm-block">
        <img class="image" src="./assets/profile.png">
    </div> 
</div>
